<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ1trKM1fZqQg8UsaT0CLJPqW3R83wqS0</string>
	<key>GCM_SENDER_ID</key>
	<string>453926807804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>First.TeamCreator</string>
	<key>PROJECT_ID</key>
	<string>teamcreater-96e71</string>
	<key>STORAGE_BUCKET</key>
	<string>teamcreater-96e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453926807804:ios:5c04516da36fb95fa1cf79</string>
</dict>
</plist>